.footer {
  width: 100%;
  font-size: 20px;
  padding: 120px 0 24px;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  background: url('./../../images/footer/fon.png') center center no-repeat;
  background-size: cover;
  .footer_section {
    display: flex;
    align-items: center;
    // .footer_phone {
    //   font-family: 'Roboto';
    //   color: white;
    //   text-decoration: none;
    // }
  }
  .footer_logo {
    margin-right: 193px;
  }
  .footer_argo {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    .footer_argo_a {
      color: white;
      margin-left: 5px;
      text-decoration: none;
    }
  }
  .footer_allrights {
    margin-top: 24px;
  }
}

@media (max-width: 1520px) {
  .footer {
    padding: 70px 0 24px;
    .footer_section {
      flex-direction: column;
    }
    .footer_logo {
      margin: 0 0 50px;
    }
    // .footer_phone {
    //   display: none;
    // }
  }
}
@media (max-width: 480px) {
  .footer {
    padding-top: 20px;
    background: url('./../../images/footer/fonTel.png') center center no-repeat;
    background-size: cover;
    .footer_logo {
      width: 108px;
      height: 57px;
      margin-bottom: 40px;
    }
    .footer_argo {
      flex-direction: column;
    }
    .footer_allrights,
    .footer_argo {
      font-size: 12px;
    }
  }
}
